
<h1><strong>View <%= @survey.survey_name %> Questions</strong></h1>
<table class="table table-warning table-bordered border-dark table-striped">
	<thead>
		<th>Question</th>
		<th scope="col">Actions</th>
	</thead>
	<tbody>
		<% @questions.each do |question| %>
		<tr>
			<td><%= question.question_text %></td>
			<td>
				<a href="/survey_questions/<%= question.id%>">Respond</a> |
				<a href="/survey_questions/<%= question.id%>/responses">Response</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<h1>View <%= @surveys.survey_name %> Respondent</h1>
<table>
	<thead>
		<th>Survey</th>
			</thead>
	<tbody>
		<% @respondent.each do |respondent| %>
		<tr>
			<td><%= respondent.first_name %> <%= respondent.last_name %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/respondent">View Respondents</a>
