<h1><strong>View <%= pluralize(@respondent.count, "Respondent") %></strong></h1>
<table class="table table-warning table-bordered border-dark table-striped">
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @respondent.each do |respondent| %>
		<tr>
			<td><%= respondent.first_name %></td>
			<td><%= respondent.last_name %></td>
			<td><%= respondent.email %></td>
			<td>
				<a href="/respondent/<%= respondent.id %>">Show</a> |
				<a href="/respondent/<%= respondent.id %>/edit">Edit</a> |
				<a href="/respondent/<%= respondent.id %>/delete">Delete</a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>


